.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8vh;
    z-index: 1000;
    font-family: 'Calibri', sans-serif;
}

.details-window {
    background-color: #fafaff;
    border-radius: 12px;
    padding: 20px 25px;
    width: 600px;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Calibri', sans-serif;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.closePageBtn {
    top: 12px;
    right: 12px;
    height: 40px;
    width: 40px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.closePageBtn:hover {
    background-color: #e0e0e0;
}

.title-input {
    width: 87%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-weight: bold;
    transition: all ease-out 0.2s;
}

.title-input:hover {
    border-color: #8B5CF6;
    background-color: #f7f6fd;
}

.description-input {
    box-sizing: border-box;
    width: 600px;
    height: 120px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    resize: none;
    transition: all ease-out 0.2s;
}

.description-input:hover {
    border-color: #8B5CF6;
    background-color: #f7f6fd;
}

.description-input::-webkit-scrollbar {
    display: none;
}

.details-window button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: all ease 0.3s;
}

.marks-container {
    display: flex;
    justify-content: space-between;
}

.marks-container-complete {
    width: 380px;
    background-color: #ded8ff;
    color: #2D1B69;
}

.marks-container-complete:hover {
    background-color: #7B61FF;
    color: white;
}

.marks-container-delete {
    width: 200px;
    background-color: #F5C6C6;
    color: #7B1F1F;
}

.marks-container-delete:hover {
    background-color: #E57373;
    color: white;
}

.closePageBtn, .copyDescButton {
    background-color: rgb(231, 228, 250);
    color: #3e3755;
}

.closePageBtn:hover, .copyDescButton:hover{
    background-color: rgb(216, 211, 250);
    color: #4d426c;
}

